services:
  server:
    build:
      context: ./myapp
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    environment:
      SUPABASE_URL: ${SUPABASE_URL}
      SUPABASE_KEY: ${SUPABASE_KEY}
      B2_KEY_ID: ${B2_KEY_ID}
      B2_APP_KEY: ${B2_APP_KEY}
      B2_BUCKET_NAME: ${B2_BUCKET_NAME}
      PINECONE_API_KEY: ${PINECONE_API_KEY}
      PINECONE_REGION: ${PINECONE_REGION}
      ENVIRONMENT: ${ENVIRONMENT}
      NVIDIA_VISIBLE_DEVICES: all
      NVIDIA_DRIVER_CAPABILITIES: compute,utility
    networks:
      - app-network
    depends_on:
      - redis

  redis:
    image: redis:alpine
    ports:
      - "6379:6379"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge